/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0rem;
  background: var(--color-bg);
  color: var(--color-text);
  align-items: center;
  transition:  0.3s;
  box-shadow: 0 2px 5px var(--shadow-accent);
  margin:0 17vw;
  top: 0;
  z-index: 1000;
}

.navbar-top {
  display: flex;
  justify-content: start;
  padding: 2.5rem 0;
  margin: 0 17%;
  background: var(--color-bg);
  color: var(--color-text);
  align-items: center;
  transition:  0.3s;
  top: 0;
  z-index: 1000;
  gap: 2rem;
}

.navbar-logo {
  font-weight: bold;
  padding: 0;
  margin: 0;
    height: 80px;
    z-index: 9999;

}

.navbar-dots {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: inline-block;
  background: var(--color-primary);
  transition: background 0.3s;
  z-index: 9999;
}

.dot-pale {
  background: #FEB788;
}

.dot-mid {
  background: #FE9B59;
}

.dot-primary {
  background: #FE7E29;
}

.navbar-top-logo{
  font-size: 3rem;
  font-weight: bold;
  height: 160px;
  position: fixed;
  z-index: 9999;
  padding: 0;
  margin: 0;
}

.navbar-logo-text {
  font-family: 'Urbanist', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-text);
  line-height: 1.2;
  text-decoration: none;
  z-index: 9999;
  position: relative;
}

.navbar-logo-text:hover {
  color: var(--color-primary-dark);
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  align-items: left;
}

.navbar-links .navbar-links-left {
  display: flex;
  gap: 4rem;
  font-weight: 400;
  position: relative;
  top: 0.5rem;
}

.navbar-links a {
  color: var(--color-text);
  text-decoration: none;
    font-size: 0.75rem;

}


.navbar .button {
  background: var(--color-navbar);
  font-size: 1rem;
  font-weight: 200;
  color: var(--color-text);
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  min-width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
   color: var(--color-primary);

}

.button:focus {
  color: var(--color-primary);
}

.navbar-socials{
  display: flex;
  position: absolute;
  right: 16vw;
  top:1rem
}


/* Ícones de redes sociais */
.navbar-socials a {
  color: var(--color-text);
  font-size: 0.5rem;
  margin-right: 0.5rem;
  transition: color 0.1s ease-in-out;
  
}

.navbar-socials a:hover {
  color: var(--color-primary-light);
}

/* Dark Mode */
body.dark .navbar {
  background-color: var(--color-navbar);
}


/* Botão de alternar dark mode */
.darkmode-toggle {
  background: transparent;
  border: none;
   color: var(--color-text);
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.darkmode-toggle:hover {
  color: var(--color-primary-dark);
}

/* Sidebar overlay escurecido */
.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

/* Sidebar sobreposta */
.navbar-sidebar {
  position: fixed;
  top: 1rem;
  left: 0;
  height: auto;
  width: 50vw;
  background :var(--color-bg);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  padding: 7rem 0rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  z-index: 999;
  clip-path: polygon(0 0, 100% 0, 50% 50%, 0% 100%);
  transition: transform 0.3s ease-in-out;
  transform: (0, 100%);
}


/* Quando ativa, move para a posição visível */
.navbar-sidebar.active {
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;

}

.navbar-sidebar a {
    font-size: 0.75rem;
  text-decoration: none;
  color: var(--color-text);
  padding: 2rem 2rem;
}

.navbar-sidebar a:hover {
  color: var(--color);
  background-color: var(--color-primary);
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  align-self: flex-start;
  cursor: pointer;
  color: var(--color-text);
  z-index: 9999;
  transition: color 0.3s ease-in-out;
  margin-top: -1rem;
}

.navbar-mobile-toggle {
  display: none;
}

@media (max-width: 768px) {
  

  .navbar-top{
    padding: 2.5rem 0 ;
    display: flex;
    justify-content:space-around;
    gap: 0;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
  }


  .navbar-mobile-toggle {
    display: block;
    z-index: 9999;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  .navbar-logo{
    margin: 0;
    padding: 0;
    height: 80px;
  }
   .dot {
    padding: 0;
    margin: 0;
  }

  .navbar-links {
    display: none;
  }
  .button {
    display: none;
  }
  .navbar-sidebar {
    padding-top: 8rem;
    width: 100vw;
    max-width: none;
    clip-path: none;
    transition: transform 0.3s ease-in-out, clip-path 0.3s ease-in-out;
    color: white;
  }
  
}
