.stats-container {
    text-align: center;
    padding: 2rem 6rem ;
    color: var(--color-text);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.stats-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.stat-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--color-primary-light);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px var(--shadow-accent);
    margin-bottom: 0.5rem;
    transition: transform 0.3s ease;
}

.stat-circle:hover {
    transform: scale(1.2);
}

.stat-value {
    font-size: 1.5rem;
    font-weight: bold;
}

.stat-label {
    font-size: 1rem;
}