:root {
  /* Modo claro */
  --color-bg: #fdfdfd;                    /* Fundo levemente off-white */
  --color-text: #1a1a1a;
  --color-primary: #fd7114;              /* Laranja queimado mais sóbrio */
  --color-primary-light: #ff914d;        /* Versão clara suave */
  --color-secondary: #f2e9e2;            /* Fundo de seção (puxado para nude/bege) */
  --color-accent: #3c3c3c;               /* Acento escuro p/ detalhes */
  --color-navbar: #fff5ee;               /* Navbar levemente destacada (tom pastel do laranja) */
}

body.dark {
  /* Modo escuro */
  --color-bg: #1b1b1b;
  --color-text: #f5f5f5;
  --color-primary: #fd7114;              /* Mantém o mesmo laranja (ótimo contraste) */
  --color-primary-light: #ff914d;
  --color-secondary: #292929;            /* Fundo secundário com contraste suave */
  --color-accent: #bbbbbb;               /* Acento claro para elementos secundários */
  --color-navbar: #26211c;               /* Navbar levemente mais clara que o fundo (quase sépia) */
}


body {
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  font-family: sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

